<script>
    'use strict';
    $('img').on('load', function () {
        var $element = $(this);
        window.setTimeout(function () {
            var $loading = $element.prev();
            if ($loading.length > 0 && $loading.hasClass("loading-image")) {
                $loading.addClass("hidden");
                $loading.slideUp(400, function () {
                    $loading.remove();
                });
            }

            $element.slideDown(400, function () {
                if (!$element.hasClass("visible")) {
                    $element.addClass("visible");
                }
            });
        }, 150);
    }).each(function () {
        var $element = $(this);
        if (this.complete) {
            window.setTimeout(function () {
                if (!$element.hasClass("visible")) {
                    $element.addClass("visible");
                }
            }, 150);
        } else {
            $element.hide();
            $("<div class=\"loading-image\"></div>").insertBefore($element);
        }
    });
</script>
