<script>
    $('img').on('load', function () {
        var $element = $(this);
        window.setTimeout(function () {
            $element.slideDown(400, function () {
                if (!$element.hasClass("visible")) {
                    $element.addClass("visible");
                }
            });
        }, 150);
    }).each(function () {
        var $element = $(this);
        if (this.complete) {
            window.setTimeout(function () {
                if (!$element.hasClass("visible")) {
                    $element.addClass("visible");
                }
            }, 150);
        } else {
            $element.hide();
        }
    });
</script>
