{% assign url_parts = page.url | remove: ".html" | split:'/' %}

{% assign previous=site.url %}
{% assign position = 1 %}

{% if url_parts.size > 0 %}
<ol class="navigation" vocab="https://schema.org/" typeof="BreadcrumbList">
    {% for part in url_parts %}
    {% assign previous = previous | append: part | append: "/" %}
    <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" href="{{ previous }}">
            {% if part == "" %}
            <span property="name">home</span>
            {% else %}
            <span property="name">{{ part }}</span>
            {% endif %}
        </a>

        <meta property="position" content="{{ position }}">
        {% assign position = position | plus: 1 %}
    </li>
    {% endfor %}
</ol>
{% endif %}
