<header class="page-header">
    <div class="background visible"></div>
    <div class="page-header-text">
        <p class="project-name">{{ site.title | default: site.github.repository_name }}</p>
        <p class="project-tagline">{{ site.description | default: site.github.project_tagline }}</p>
    </div>
</header>

<nav id="PageTabs" class="page-tabs">
    <div class="page-tabs-menu">
        {% if page.title %}
        <a class="page-tabs-title" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}

        <button class="page-tabs-expand">
            <div class="page-tabs-hamburger"></div>
        </button>
    </div>

    <div class="page-tabs-inner">
        {% for path in page_paths %}
        {% assign header_page = site.pages | where: "path", path | first %}
        {% if header_page.title %}
        <a class="page-link{% if page.url == header_page.url %} page-link-current{% endif %}" href="{{ header_page.url | relative_url }}">
            {{ header_page.title | escape }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
</nav>
