<canvas class="stat-graph stat-graph-day" data-color="#ffcc4d" data-column="haikuCount" data-column-time="dayStartTime" data-label="Haikus" width="1200"
    height="600"></canvas>
<canvas class="stat-graph stat-graph-day" data-color="#2e2f34" data-column="serverCount" data-column-time="dayStartTime" data-label="Servers" width="1200"
    height="600"></canvas>
<!--<canvas class="stat-graph stat-graph-day" data-color="#ff774d" data-column="uniqueUserCount" data-column-time="dayStartTime" data-label="Unique Users"
    width="1200" height="600"></canvas>-->
