<div class="button-row">
    <div class="stat-count haiku-count">
        <p class="stat-counter stat-large haiku-counter loading" data-api="haikucount" data-loop-time="10000">.</p>
        <p>Haikus found</p>
    </div>
    <div class="stat-count server-count">
        <p class="stat-counter stat-large server-counter loading" data-api="servercount" data-loop-time="30000">.</p>
        <p>Servers</p>
    </div>
</div>

{% if include.extra_stats %}
<div class="button-row">
    <div class="stat-count unique-user-count">
        <p class="stat-counter stat-large unique-user-counter loading" data-api="uniqueusercount"
            data-loop-time="20000">.</p>
        <p>Unique users</p>
    </div>
    <div class="stat-count heart-count">
        <p class="stat-counter stat-large heart-counter loading" data-api="heartcount" data-loop-time="10000">.</p>
        <p>Hearts given</p>
    </div>
</div>

<div class="button-row">
    <div class="stat-count message-count">
        <p class="stat-counter stat-large message-counter loading" data-api="messagecount" data-loop-time="4000">.</p>
        <p>Messages</p>
    </div>
</div>
{% endif %}
