
// Fonts
// Update html to include these fonts when adding new fonts
@mixin font-title {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 5.5rem;
    font-weight: 300;
}

@mixin font-subtitle {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

@mixin font-heading {
    margin-left: -0.07em;

    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

@mixin font-subheading {
    margin-left: -0.03em;

    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

@mixin font-body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin font-code {
    font-family: "Fira Mono", Consolas, Courier, monospace;
    font-weight: 400;
}

@mixin font-stat {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
