@import "page/text";
@import "page/content";
@import "page/header";
@import "page/panels";
@import "page/color";
@import "page/buttons";
@import "page/code";
@import "page/navigation";
@import "page/anchors";
@import "page/loading";
@import "page/stats";

@import "transitions";

body {
    overflow-x: hidden;
    overflow-y: scroll;

    margin: 0;
    padding: 0;

    transition: opacity 0.2s ease;

    opacity: 1;
    color: $text-color;
    background-color: $background-color;

    font-size: 1rem;

@include font-body;
}

::selection {
    color: $foreground-color;
    background: rgba(0, 0, 0, 0.5);
}

::-moz-selection {
    color: $foreground-color;
    background: rgba(0, 0, 0, 0.5);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
