@import "page/text";
@import "page/content";
@import "page/header";
@import "page/panels";
@import "page/color";
@import "page/code";
@import "page/anchors";
@import "page/stats";

@import "transitions";

body {
    overflow-x: hidden;
    overflow-y: scroll;

    margin: 0;
    padding: 0;

    transition: opacity 0.2s ease;

    opacity: 1;
    color: $text-color;
    background-color: $background-color;

    font-size: 1rem;

@include font-body;
}

::selection {
    color: $foreground-color;
    background: rgba(0, 0, 0, 0.5);
}

::-moz-selection {
    color: $foreground-color;
    background: rgba(0, 0, 0, 0.5);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
    z-index: 1;

    overflow: hidden;

    transform: translateY(12px);

    opacity: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0);

    &.visible {
        transition: opacity 0.25s $m-ease-out, transform 0.2s $m-ease-out, box-shadow 0.5s $m-ease-out 0.1s;
        transform: none;

        opacity: 1;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
}
