<div class="content-panel">
    {% if include.title %}
    {{ include.title }}
    {% else %}
    <h2 id="Guides" class="panel-heading">Guides</h2>
    {% endif %}

    <ul>
        <li><a href="/haikubot/guides/restricting-haikubot">Restricting HaikuBot</a></li>
        <li><a href="/haikubot/guides/making-a-haiku-log">Making a Haiku Log</a></li>
        <li><a href="/haikubot/guides/changing-a-servers-haiku-type">Changing a Server's Haiku Type</a></li>

        <li><a href="/haikubot/guides/patreon-customization">Patreon Customization</a></li>
        <li><a href="/haikubot/guides/haikubot-colors">HaikuBot Colors</a></li>
    </ul>

    <p>You can see a full list of commands for HaikuBot by using the <code>!haiku help</code> command.</p>

    <p>If you still have questions, or a problem that isn't covered, the best place to ask is in the HaikuBot Discord
        Server. Please remember to try and provide as many details as you can for the best chance at resolving your
        issue.</p>

    <div class="button-row">
        <a class="button button-haiku" href="https://discord.gg/Cm5v93M">
            <span class="button-inner">Join Official Server</span>
        </a>
    </div>
</div>
