<div class="content-panel panel-patreon">
    <h2 id="Patreon">Patreon</h2>

    <p>You can also support HaikuBot on Patreon. By pledging a small amount of money each month to the ongoing
        development of HaikuBot you can gain access to a Patreon-only icon next to your signature for each haiku, as
        well as the option to change the color of the bar next to haikus that you make for silver members and higher.
    </p>

    <img src="/haikubot/img/haiku-patreon.png" alt="HaikuBot on Patreon">

    <div class="button-row">
        <a class="button" href="/haikubot/guides/patreon-customization">
            <span class="button-inner">Patreon Customization</span>
        </a>
        <a class="button button-patreon" href="https://www.patreon.com/ytnomsnrub">
            <span class="button-inner">View on Patreon</span>
        </a>
    </div>
</div>
