<div class="content-panel panel-haikubot">
    {{ include.title }}

    <div class="button-row">
        <div class="stat-count haiku-count">
            <p class="stat-counter haiku-counter loading" data-api="haikucount" data-loop-time="10000">.</p>
            <p>Haikus found</p>
        </div>
        <div class="stat-count server-count">
            <p class="stat-counter server-counter loading" data-api="servercount" data-loop-time="300000">.</p>
            <p>Servers</p>
        </div>
    </div>

    <div class="button-row">
        <a class="button" href="/haikubot/stats">
            <span class="button-inner">See all Stats</span>
        </a>
        {% if include.show_page_link %}
        <a class="button button-haiku" href="/haikubot/">
            <span class="button-inner">Visit Page</span>
        </a>
        {% endif %}
    </div>

    <p>HaikuBot is a friend-shaped Discord bot that detects accidental (or intentional) messages in your Discord server
        that can be turned into a 5-7-5 haiku, and then shows the message in haiku format. It uses a combination
        algorithms and a syllable dictionary to try to be accurate (although it still sometimes makes mistakes).</p>

    {% if include.show_widget %}
    <img class="discord-bot-widget"
        src="https://discordbots.org/api/widget/372175794895585280.svg?usernamecolor=FAFAFA&topcolor=222222&middlecolor=2e2f34&datacolor=643f00&labelcolor=643f00&highlightcolor=FFCC4D" />
    {% endif %}

    <p>HaikuBot has a few fun tricks and secrets, but mostly stays out of the way unless you interact with it or it
        detects a haiku. If you have any questions, problems, and suggestions for the bot, or you just want to say hi,
        come join the <a href="https://discord.gg/Cm5v93M">Official HaikuBot Discord Server</a>. You can test HaikuBot
        in the official server, or send a private message directly to the bot to try out your haiku writing skills!</p>

    <div class="button-row">
        <a class="button button-discord" href="https://discordbots.org/bot/372175794895585280">
            <span class="button-inner">View on Discord Bot List</span>
        </a>
        <a class="button"
            href="https://discordapp.com/oauth2/authorize?client_id=372175794895585280&scope=bot&permissions=85056">
            <span class="button-inner">Invite to Server</span>
        </a>
    </div>
</div>
