<div class="content-panel">
    <h2 id="Guides">Guides</h2>

    <ul>
        <li><a href="/haikubot/guides/restricting-haikubot">Restricting HaikuBot</a></li>
        <li><a href="/haikubot/guides/making-a-haiku-log">Making a Haiku Log</a></li>
        <li><a href="/haikubot/guides/changing-a-servers-haiku-type">Changing a Server's Haiku Type</a></li>

        <li><a href="/haikubot/guides/haikubot-colors">HaikuBot Colors</a></li>
        <li><a href="/haikubot/guides/patreon-customization">Patreon Customization</a></li>
    </ul>
</div>
