<div class="content-panel panel-modis">
    <h2>Modis</h2>

    <p>Modis is a modular discord bot, designed to be both flexible and easily extendable. It features a music module
        with an interactive GUI, as well as tools for moderation and a growing community developing new modules all the
        time. Modis is still in active development while we try to stabilise the framework and some of our internal
        modules, but you can come check out the community and the bot in our Discord server.</p>

    <div class="button-row">
        <a class="button button-modis" href="https://modisworks.github.io/">
            <span class="button-inner">Modis Website</span>
        </a>
        <a class="button" href="https://github.com/infraxion/modis">
            <span class="button-inner">View on GitHub</span>
        </a>
    </div>
</div>
