$color-block-size: 2.8rem;
$color-block-padding: 0.6rem;
$color-block-text-padding: 0.6rem;

.main-content {
    .color-block-table {
        position: relative;

        margin-bottom: 1rem;
        padding: 0;

        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);

        tbody {
            width: 100%;
        }

        td {
            border: 1.5rem solid transparent;
        }

        @media screen and (max-width: $small-breakpoint) {
            td {
                display: block;

                border-width: 0.5rem;
            }
        }

        &.color-patreon-table {
            color: $text-color-alt;
            border-radius: $border-radius;
            background-color: $discord-background-color;
        }
    }

    .badge-block-table {
        position: relative;

        margin-bottom: 1rem;
        padding: 0;

        color: $text-color-alt;
        border: 0.6rem solid transparent;
        border-collapse: separate;
        border-radius: $border-radius;
        background-color: $discord-background-color;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);

        td {
            position: relative;

            width: 1rem;
            height: 1rem;
            margin: 0;
            padding: 0.2rem;
        }

        img {
            margin: 0;
            padding: 0;

            border: none;
            box-shadow: none;
        }

        .loading-image {
            &::before,
            &::after {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .color-block {
        position: relative;
        left: $color-block-size + $color-block-padding;

        padding: $color-block-padding 0;

        &::before {
            position: absolute;
            left: -$color-block-size - $color-block-padding;
            top: 0;
            bottom: 0;

            width: $color-block-size;
            height: $color-block-size;
            margin: auto;

            content: "";

            border-color: $border-color;
            border-radius: $border-radius;
        }
    }

    .color-block-value {
        padding: 0;

        text-transform: uppercase;

        font-weight: 700;

        @media screen and (max-width: $medium-breakpoint) {
            text-align: right;
        }

        @media screen and (max-width: $small-breakpoint) {
            margin-bottom: 1.5rem;

            text-align: left;
        }
    }


    .color-haiku {
        &::before {
            background-color: $haiku-color;
        }
    }

    .color-haiku-text {
        &::before {
            background-color: $haiku-color-text;
        }
    }

    .color-primary {
        &::before {
            background-color: $primary-color;
        }
    }

    .color-secondary {
        &::before {
            background-color: $secondary-color;
        }
    }

    .color-alt {
        &::before {
            background-color: $background-color-alt;
        }
    }


    .color-patreon-red {
        &::before {
            background-color: $patreon-color-red;
        }
    }

    .color-patreon-orange {
        &::before {
            background-color: $patreon-color-orange;
        }
    }

    .color-patreon-amber {
        &::before {
            background-color: $patreon-color-amber;
        }
    }

    .color-patreon-yellow {
        &::before {
            background-color: $patreon-color-yellow;
        }
    }

    .color-patreon-lime {
        &::before {
            background-color: $patreon-color-lime;
        }
    }

    .color-patreon-green {
        &::before {
            background-color: $patreon-color-green;
        }
    }

    .color-patreon-aqua {
        &::before {
            background-color: $patreon-color-aqua;
        }
    }

    .color-patreon-cyan {
        &::before {
            background-color: $patreon-color-cyan;
        }
    }

    .color-patreon-sky {
        &::before {
            background-color: $patreon-color-sky;
        }
    }

    .color-patreon-ocean {
        &::before {
            background-color: $patreon-color-ocean;
        }
    }

    .color-patreon-indigo {
        &::before {
            background-color: $patreon-color-indigo;
        }
    }

    .color-patreon-purple {
        &::before {
            background-color: $patreon-color-purple;
        }
    }

    .color-patreon-magenta {
        &::before {
            background-color: $patreon-color-magenta;
        }
    }

    .color-patreon-pink {
        &::before {
            background-color: $patreon-color-pink;
        }
    }
}
