.main-content {
    position: relative;

    max-width: 880px;
    min-height: calc(100vh);
    margin: auto;
    padding: 2rem 1.5rem;
    padding-top: $tabs-height-small;

    font-size: 1.1rem;

    @media screen and (max-width: $large-breakpoint) {
        max-width: 720px;
    }

    @media screen and (max-width: $medium-breakpoint) {
        max-width: 520px;
        padding-top: $tabs-height-small;
    }

    .container {
        position: relative;
    }

    h1 {
        margin-top: calc(#{$tabs-height} + 1rem);
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 1.5em;
    }

    img {
        position: relative;
        left: 0;

        display: block;

        width: auto;
        max-width: 100%;
        margin: auto;
        margin-bottom: 1.5em;

        border-radius: $border-radius;

        &.small {
            width: auto;
            height: 4vh;
        }
    }

    table {
        position: relative;

        display: table;
        overflow: visible;

        width: 100%;
        max-width: 100%;

        border-spacing: 0;

        border-collapse: collapse;

        tr {
            margin: 0;
            padding: 0;
        }

        td {
            margin: 0;
            padding: 0.5rem 1rem;
        }
    }

    blockquote {
        padding: 0;
        padding-left: 0.6rem;

        color: $text-color-detail;
        border-left: 4px solid $border-color;
    }

    .topright {
        position: absolute;
        right: 0;
        top: 0;

        @media (min-width: $small-breakpoint) {
            top: 1.2rem;
        }
    }

    .button-row {
        display: flex;
        flex-direction: row;

        margin: auto;
        margin-bottom: 1.4rem;

        align-items: center;
        justify-content: center;

        @media (max-width: $small-breakpoint) {
            flex-direction: column;

            min-width: 80%;
        }
    }
}

.site-footer {
    margin-top: 2rem;

    color: $text-color-detail;

    font-size: 0.9rem;
}
