.main-content {
    position: relative;

    max-width: 880px;
    min-height: calc(100vh - #{$tabs-height-small} - 2rem);
    margin: auto;
    padding: 2rem 1.5rem;
    padding-top: $tabs-height-small;

    font-size: 1.1rem;

    @media screen and (max-width: $large-breakpoint) {
        max-width: $medium-breakpoint;
    }

    @media screen and (max-width: $medium-breakpoint) {
        max-width: $small-breakpoint;
        padding-top: $tabs-height-small;
    }

    @media screen and (max-width: $small-breakpoint) {
        overflow-x: hidden;
    }

    &.content-wide {
        max-width: 1200px;

        @media screen and (max-width: 1400px) {
            max-width: 880px;
        }

        @media screen and (max-width: 880px) {
            max-width: 100vw;
        }
    }

    .content-container {
        position: relative;
    }

    img {
        position: relative;
        left: 0;

        display: block;

        width: auto;
        max-width: 100%;
        margin: auto;
        margin-bottom: 1.5rem;

        border-radius: $border-radius;

        &.small {
            width: auto;
            height: 4vh;
        }
    }

    li img {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    table {
        position: relative;

        display: table;
        overflow: visible;

        width: 100%;
        max-width: 100%;

        border-spacing: 0;

        border-collapse: collapse;

        tr {
            margin: 0;
            padding: 0;
        }

        td {
            margin: 0;
            padding: 0.5rem 1rem;
        }
    }
}

img {
    z-index: 1;

    overflow: hidden;

    transform: translateY(-24px);

    opacity: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0);

    &.visible {
        transition: opacity 0.25s $m-ease-out, transform 0.2s $m-ease-out, box-shadow 0.5s $m-ease-out 0.1s;
        transform: none;

        opacity: 1;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
}

.site-footer {
    margin-top: 2rem;

    color: $text-color-detail;

    font-size: 0.9rem;
}
