h1 {
    @include font-heading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

a {
    outline: none;
}

.main-content h1 {
    margin-top: 0;

@include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2em;
    }
}

.main-content h2,
.main-content h3 {
    @include font-subheading;
}

.main-content {
    min-height: calc(100vh);
    padding-top: calc(24px + 1em);

    .container {
        position: relative;
    }

    code {
        @include font-code;
    }

    img {
        position: relative;
        left: 0;

        width: 100%;
        height: 30vh;

        &.small {
            width: auto;
            height: 4vh;
        }
    }

    .topright {
        position: absolute;
        right: 0;
        top: 0;

        @media (min-width: $small-breakpoint) {
            top: 1.2em;
        }
    }

    .button-row {
        display: table;

        margin: 1.4em auto;

        @media (max-width: $small-breakpoint) {
            min-width: 80%;
        }
    }

    a.button {
        position: relative;
        top: -$button-extend;

        display: inline-block;

        margin: 0.4em;
        padding: 0.6em 1.8em;

        transition: top 0.07s $m-ease-in-out, box-shadow 0.07s $m-ease-in-out;
        text-align: center;
        text-decoration: none;

        color: $text-color-alt;
        border-radius: $border-radius;
        background-color: $primary-color;
        box-shadow: 0 $button-extend darken($primary-color, 10%);

        &.button-svg {
            display: block;

            margin: 0;
            margin-bottom: -$button-extend-hover;
            padding: 0;

            transition: top 0.07s $m-ease-in-out, filter 0.07s $m-ease-in-out;

            background: none;
            box-shadow: none;

            filter: drop-shadow(0 $button-extend darken($primary-color, 10%));
        }

        @media (max-width: $medium-breakpoint) {
            display: block;

            margin: 0.8em;
        }

        &.button-discord {
            background-color: $discord-color;
            box-shadow: 0 $button-extend darken($discord-color, 10%);

            &.button-svg {
                background: none;
                box-shadow: none;

                filter: drop-shadow(0 $button-extend darken($discord-color, 10%));
            }
        }

        &.button-haiku {
            color: $haiku-color-text;
            background-color: $haiku-color;
            box-shadow: 0 $button-extend darken($haiku-color, 20%);

            &.button-svg {
                background: none;
                box-shadow: none;

                filter: drop-shadow(0 $button-extend darken($haiku-color, 20%));
            }
        }

        &.button-modis {
            background-color: $modis-color;
            box-shadow: 0 $button-extend darken($modis-color, 10%);

            &.button-svg {
                background: none;
                box-shadow: none;

                filter: drop-shadow(0 $button-extend darken($modis-color, 10%));
            }
        }

        &:hover,
        &:focus {
            top: -$button-extend-hover;

            box-shadow: 0 $button-extend-hover darken($primary-color, 10%);

            &.button-svg {
                background: none;
                box-shadow: none;

                filter: drop-shadow(0 $button-extend-hover darken($primary-color, 10%));
            }

            &.button-discord {
                box-shadow: 0 $button-extend-hover darken($discord-color, 10%);

                &.button-svg {
                    background: none;
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-hover darken($discord-color, 10%));
                }
            }

            &.button-haiku {
                box-shadow: 0 $button-extend-hover darken($haiku-color, 20%);

                &.button-svg {
                    background: none;
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-hover darken($haiku-color, 20%));
                }
            }

            &.button-modis {
                box-shadow: 0 $button-extend-hover darken($modis-color, 10%);

                &.button-svg {
                    background: none;
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-hover darken($modis-color, 10%));
                }
            }
        }

        &:active {
            top: -$button-extend-pressed;

            box-shadow: 0 $button-extend-pressed darken($primary-color, 10%);

            &.button-svg {
                box-shadow: none;

                filter: drop-shadow(0 $button-extend-pressed darken($primary-color, 10%));
            }

            &.button-discord {
                box-shadow: 0 $button-extend-pressed darken($discord-color, 10%);

                &.button-svg {
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-pressed darken($discord-color, 10%));
                }
            }

            &.button-haiku {
                box-shadow: 0 $button-extend-pressed darken($haiku-color, 20%);

                &.button-svg {
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-pressed darken($haiku-color, 20%));
                }
            }

            &.button-modis {
                box-shadow: 0 $button-extend-pressed darken($modis-color, 10%);

                &.button-svg {
                    box-shadow: none;

                    filter: drop-shadow(0 $button-extend-pressed darken($modis-color, 10%));
                }
            }
        }
    }

    a :not(button) {
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            margin: -4px;

            content: "";
            transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-in;
            transform: scale(1.5);
            pointer-events: none;

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: transparent;
        }

        &:focus::before {
            transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-out;
            transform: scale(1);

            border-color: $table-border-color;
            background-color: rgba($background-color-alt, 0.12);
        }

        &:active::before {
            transition: background-color 0.1s $m-ease, border-color 0.1s $m-ease, transform 0s linear;

            background-color: transparent;
        }
    }
}

.highlight {
    background-color: transparent;
}

.main-content .highlight pre,
.main-content code {
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

@keyframes loading-stat {
    0% {
        transform: translateX(-12px) translateY(0);
    }

    33% {
        transform: translateX(12px) translateY(0);
    }

    67% {
        transform: translateX(0px) translateY(-12px);
    }

    100% {
        transform: translateX(-12px) translateY(0);
    }
}

.discord-bot-widget {
    filter: drop-shadow(0 $button-extend 2px rgba(0, 0, 0, 0.4));
}

.haiku-count,
.server-count {
    display: inline-block;

    min-width: 8em;
    margin: 0 0.4em;
    padding: 0.6em 1.8em;

    text-align: center;

    opacity: 1;
    border-radius: $border-radius;
    box-shadow: 0 $button-extend 4px rgba(0, 0, 0, 0.4);

    @media (max-width: $small-breakpoint) {
        display: block;

        margin: 0.8em 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    p.haiku-counter,
    p.server-counter {
        transition: opacity 0.2s $m-ease, transform 0.1s $m-ease;
        transform: none;

        font-size: 1.5em;

@include font-code;

        &.hidden {
            transform: scale(0.5);

            opacity: 0;
        }

        &.loading {
            animation-name: loading-stat;
            animation-duration: 0.7s;
            animation-timing-function: $m-ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}

.haiku-count {
    color: $haiku-color-text;
    background-color: $haiku-color;
}

.server-count {
    color: $text-color-alt;
    background-color: $primary-color;
}
