.page-header {
    position: relative;
    z-index: 1;

    padding: 0;
    padding-top: 72px;
    padding-bottom: 88px;

    text-align: center;

    background: none;
    background-color: $header-bg-color;

    @media (max-width: $large-breakpoint) {
        padding-top: 56px;
        padding-bottom: 64px;
    }

    @media (max-width: $medium-breakpoint) {
        padding-top: 48px;
        padding-bottom: 56px;
    }

    @media (max-width: $small-breakpoint) {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        overflow: hidden;

        opacity: 0;
    }

    .page-header-text {
        @media screen and (max-width: $medium-breakpoint) {
            transform: none !important;

            opacity: 1 !important;
        }
    }

    .project-name,
    .project-tagline {
        position: relative;
        z-index: 2;

        margin: 0;
        padding: 0;

        color: $header-heading-color;

        line-height: 1;
    }

    .project-name {
        margin-bottom: 0;

        opacity: 1;

        @include font-title;

        @media (max-width: $large-breakpoint) {
            font-size: 4.5rem;
        }

        @media (max-width: $medium-breakpoint) {
            font-size: 3.5rem;
        }

        @media (max-width: $small-breakpoint) {
            font-size: 2.5rem;
        }

        @media (max-width: $tiny-breakpoint) {
            font-size: 2.0rem;
        }
    }

    .project-tagline {
        margin-top: 1rem;

        opacity: 0.9;

        @include font-subtitle;

        @media (max-width: $medium-breakpoint) {
            font-size: 1rem;
        }
    }
}

.page-tabs {
    position: sticky;
    z-index: 100;
    top: 0;

    width: 100%;

    background-color: $background-color-alt;

    @include header-shadow-page;

    &.fixed {
        @include header-shadow-fixed;
    }

    .page-tabs-inner {
        display: flex;
        flex-direction: row;

        width: 100%;
        margin: auto;

        text-align: center;

        a {
            position: relative;
            z-index: 2;

            display: block;

            height: 100%;
            margin: 0;
            padding: 0.8rem 0;

            transition: background-color 0.1s $m-ease, color 0.1s $m-ease, padding 0.1s $m-ease-in-out;
            text-align: center;
            text-decoration: none;

            font-weight: 700;

            flex: 1;

            &::before {
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;

                height: 100%;

                content: "";
                transition: transform 0.15s $m-ease, background-color 0.1s $m-ease, color 0.1s $m-ease;
                transform: scaleY(0);
                transform-origin: 50% 100%;

                border-radius: 0;
                background-color: $background-color;
            }
        }
    }

    .page-tabs-menu {
        position: relative;

        display: none;
    }

    @media screen and (max-width: $small-breakpoint) {
        .page-tabs-menu {
            z-index: 101;

            display: block;

            padding: 0.8rem 1rem;

            transition: padding 0.1s $m-ease-in-out;

            background-color: $background-color-alt;
        }

        .page-tabs-title {
            margin: auto;
            padding-right: 3rem;

            text-align: left;

            color: $text-color-alt;

            font-weight: 700;
        }

        .page-tabs-expand {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            width: 3rem;
            margin: 0;
            padding: 0;

            cursor: pointer;
            transition: background-color 0.1s $m-ease;

            border: none;
            outline: none;
            background-color: transparent;

            .page-tabs-hamburger {
                &,
                &::before,
                &::after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    width: 24px;
                    height: 4px;
                    margin: auto;

                    content: "";
                    transition: transform 0.2s $m-ease-in-out, opacity 0.2s $m-ease;

                    opacity: 1;
                    border: none;
                    border-radius: 2px;
                    background-color: $text-color-alt;
                }

                &::before {
                    transform: translateY(-9px);
                }

                &::after {
                    transform: translateY(9px);
                }
            }
        }

        .page-tabs-inner {
            position: absolute;
            z-index: 100;

            display: block;
            flex-direction: column;

            transition: opacity 0.2s $m-ease, transform 0.2s $m-ease-in;
            transform: translateY(-24px);

            opacity: 0;
            background-color: $background-color-alt;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

            a {
                &::before {
                    display: none;
                }
            }
        }

        &.expanded {
            .page-tabs-inner {
                transition: opacity 0.2s $m-ease, transform 0.2s $m-ease-out;
                transform: translateY(0px);

                opacity: 1;
            }

            .page-tabs-hamburger {
                &::before,
                &::after {
                    transform: translateY(0);

                    opacity: 0;
                }
            }
        }

        &.hidden {
            .page-tabs-inner {
                visibility: hidden;
            }
        }
    }
}
