$loading-size: 2rem;
$loading-border: 2px;
$loading-padding: 2px;
$loading-time: 0.15s;

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);

        border-right-color: $primary-color;
        border-left-color: $primary-color;
    }

    50% {
        transform: rotate(180deg);

        border-right-color: $secondary-color;
        border-left-color: $secondary-color;
    }

    100% {
        transform: rotate(360deg);

        border-right-color: $primary-color;
        border-left-color: $primary-color;
    }
}

.loading-indicator {
    position: absolute;
    left: 0;
    right: 0;

    width: $loading-size;
    height: $loading-size;
    margin: auto;

    transition: opacity $loading-time $m-ease-in 0s;

    opacity: 0;
    border: $loading-border solid transparent;
    border-radius: $loading-size;
    background-color: transparent;

    &.content-loading {
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &::before {
        position: absolute;
        left: $loading-padding;
        right: $loading-padding;
        top: $loading-padding;
        bottom: $loading-padding;

        content: "";
        transition: opacity $loading-time $m-ease-in 0.1s;

        opacity: 0;
        border: $loading-border solid transparent;
        border-radius: $loading-size;
        background-color: transparent;
    }

    &.visible {
        transition: opacity $loading-time $m-ease-out 0.1s;
        animation: loading-animation 1.4s $m-ease-in-out 0s infinite;

        opacity: 1;

        &::before {
            transition: opacity $loading-time $m-ease-out 0s;
            animation: loading-animation 1.4s $m-ease-in-out 0s infinite;

            opacity: 1;
        }
    }

    &.hidden {
        transition: opacity $loading-time $m-ease-in 0s;

        opacity: 0;
    }
}


$loading-image-size: 1.5rem;
$loading-image-time: 1.2s;

@keyframes loading-image-animation {
    0% {
        z-index: 1;

        transform: scale(1);
    }

    50% {
        z-index: 0;

        transform: scale(0.5);
    }

    100% {
        z-index: 1;

        transform: scale(1);
    }
}

.loading-image {
    height: $loading-image-size;
    padding-bottom: 1rem;

    transition: opacity 0.1s $m-ease-in;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;

        width: $loading-image-size;
        height: $loading-image-size;
        margin: auto;

        content: "";
        animation: loading-image-animation $loading-image-time $m-ease-in-out 0s infinite;

        border-radius: $loading-size;
        background-color: rgba(0, 0, 0, 0.25);
    }

    &::before {
        animation-delay: 0s;
    }

    &::after {
        animation-delay: $loading-image-time / 2;
        animation-delay: -$loading-image-time / 2;
    }

    &.hidden {
        opacity: 0;
    }
}
