

.main-content .content-panel {
    position: relative;

    padding-top: 24px;
    padding-bottom: 32px;

    &::before {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 0;
        bottom: 0;

        width: 100vw;
        margin: auto;

        content: "";
        transform: translateX(-50%);
    }

    &.panel-haikubot {
        &,
        h1,
        h2 {
            color: $text-color-dark;
        }

        a:not(.button) {
            color: $primary-color;
        }

        &::before {
            background: linear-gradient(45deg, $haiku-color-background-1 0%, $haiku-color-background-2 100%);
        }
    }

    &.panel-patreon {
        &,
        h1,
        h2 {
            color: $text-color-light;
        }

        a:not(.button) {
            color: $text-color-light;

            &:hover::before,
            &:hover i::before {
                border-color: rgba($text-color-light, 0.25);
            }

            &:focus::before,
            &:focus i::before {
                border-color: rgba($text-color-light, 0.25);
                background-color: rgba($text-color-light, 0.12);
            }

            &:active::before,
            &:active i::before {
                border-color: rgba($text-color-light, 0.25);
                background-color: rgba($text-color-light, 0.12);
            }
        }

        &::before {
            background: linear-gradient(45deg, $patreon-color-background-1 0%, $patreon-color-background-2 100%);
        }
    }

    &.panel-modis {
        &,
        h1,
        h2 {
            color: $text-color-light;
        }

        a:not(.button) {
            color: $primary-color-alt;
        }

        &::before {
            background: linear-gradient(45deg, $modis-color-background-1 0%, $modis-color-background-2 100%);
        }
    }
}
