

.main-content .content-panel {
    position: relative;

    padding-top: 48px;
    padding-bottom: 32px;

    &,
    h1,
    h2 {
        color: $text-color-alt;
    }

    a:not(.button) {
        color: $secondary-color-alt;
    }

    &::before {
        background: $background-color-alt;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    &::before {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 0;
        bottom: 0;

        width: 100vw;
        margin: auto;

        content: "";
        transform: translateX(-50%);
    }

    &.panel-haikubot {
        &,
        h1,
        h2 {
            color: $text-color;
        }

        a:not(.button) {
            color: $secondary-color;
        }

        &::before {
            background: linear-gradient(45deg, $haiku-color-background-1 0%, $haiku-color-background-2 100%);
        }
    }

    &.panel-patreon {
        &::before {
            background: linear-gradient(45deg, $patreon-color-background-1 0%, $patreon-color-background-2 100%);
        }
    }

    &.panel-modis {
        &::before {
            background: linear-gradient(45deg, $modis-color-background-1 0%, $modis-color-background-2 100%);
        }
    }
}
