@keyframes loading-stat {
    0% {
        transform: translate3d(-12px, 0, 0);
    }

    33% {
        transform: translate3d(12px, 0, 0);
    }

    67% {
        transform: translate3d(0, -12px, 0);
    }

    100% {
        transform: translate3d(-12px, 0, 0);
    }
}

@keyframes loading-stat-line {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -8px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


@mixin stat-count-panel($color, $text-color) {
    color: $text-color;
    background-color: $color;
    background-image: linear-gradient(0deg, darken($color, 2.5%), lighten($color, 2.5%));
}


.stat-table {
    position: relative;

    display: table;

    width: 100%;
    margin-top: 2em;
    margin-bottom: 0.4em;

    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    background: linear-gradient(90deg,
    $background-color 0%,
    $foreground-color 10%,
    $foreground-color 90%,
    $background-color 100%
    );

    tr {
        border-top: 1px solid $border-color;

        &:first-child {
            border: none;
        }

        td {
            position: relative;

            padding: 0;

            text-align: right;

            border: none;

            .stat-table-container {
                position: relative;

                display: flex;
                flex-direction: row;

                span {
                    width: 0;
                    margin: auto 0;
                    padding: 0.5rem 1rem;

                    border-right: 1px solid $border-color;

                    flex: 1;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        @media screen and (max-width: $medium-breakpoint) {
            border-top: none;

            &:first-child td:first-child {
                border: none;
            }

            td {
                display: block;

                border-top: 1px solid $border-color;
            }
        }

        .stat-counter {
            transition: opacity 0.1s $m-ease;
            text-align: left;

            opacity: 1;

@include font-stat;

            &.hidden {
                opacity: 0;
            }

            &.loading {
                animation-name: loading-stat-line;
                animation-duration: 0.7s;
                animation-timing-function: $m-ease-in-out;
                animation-iteration-count: infinite;
            }

            &.outdated {
                opacity: 0.5;
            }

            &.stat-change-positive {
                color: $color-positive;
            }

            &.stat-change-negative {
                color: $color-negative;
            }
        }
    }
}

.stat-row {
    @media (max-width: $small-breakpoint) {
        padding: 0;
    }
}

.stat-count {
    position: relative;

    display: inline-block;

    margin: 0 0.4em;
    padding: 0.6em 1.8em;

    text-align: center;

    opacity: 1;
    border-radius: $border-radius;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

    @media (max-width: $small-breakpoint) {
        display: block;

        margin: 0.4em 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    p.stat-counter {
        margin: auto;

        transition: opacity 0.15s $m-ease-out, transform 0.15s $m-ease-out;
        transform: none;

        opacity: 1;

        font-size: 1.5em;

@include font-stat;

        &.hidden {
            transition: opacity 0.15s $m-ease-in, transform 0.15s $m-ease-in;
            transform: scale3d(0.5, 0.5, 0.5);

            opacity: 0;
        }

        &.loading {
            animation-name: loading-stat;
            animation-duration: 0.7s;
            animation-timing-function: $m-ease-in-out;
            animation-iteration-count: infinite;
        }

        &.outdated {
            opacity: 0.5;
        }
    }

    // Colors
    &.haiku-count {
        @include stat-count-panel($haiku-color, $haiku-color-text);
    }

    &.server-count {
        @include stat-count-panel($background-color-alt, $text-color-alt);
    }

    &.heart-count {
        @include stat-count-panel($heart-color, $heart-color-text);
    }

    &.broken-heart-count {
        @include stat-count-panel($heart-color-broken, $heart-color-broken-text);
    }

    &.message-count {
        @include stat-count-panel($message-color, $message-color-text);
    }

    &.unique-user-count {
        @include stat-count-panel($user-color, $user-color-text);
    }
}

.stat-graph {
    margin-bottom: 2em;
}

.time {
    font-family: "Roboto Mono", monospace;
}


.main-content .discord-bot-widget {
    width: 100%;
    max-width: 24rem;

    border-radius: 6px;
}
