@keyframes loading-stat {
    0% {
        transform: translateX(-12px) translateY(0);
    }

    33% {
        transform: translateX(12px) translateY(0);
    }

    67% {
        transform: translateX(0px) translateY(-12px);
    }

    100% {
        transform: translateX(-12px) translateY(0);
    }
}

@keyframes loading-stat-line {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(0) translateY(-8px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.stat-table {
    position: relative;

    display: table;

    width: 100%;
    margin-top: 2em;
    margin-bottom: 0.4em;

    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    background: linear-gradient(90deg,
    $background-color 0%,
    $foreground-color 10%,
    $foreground-color 90%,
    $background-color 100%
    );

    tr {
        border-top: 1px solid $border-color;

        &:first-child {
            border: none;
        }

        td {
            position: relative;

            padding: 0;

            text-align: right;

            border: none;

            .stat-table-container {
                position: relative;

                display: flex;
                flex-direction: row;

                span {
                    width: 0;
                    margin: 0 auto;
                    padding: 0.5rem 1rem;

                    vertical-align: middle;

                    border-right: 1px solid $border-color;

                    flex: 1;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        @media screen and (max-width: $medium-breakpoint) {
            border-top: none;

            &:first-child td:first-child {
                border: none;
            }

            td {
                display: block;

                border-top: 1px solid $border-color;
            }
        }

        .stat-counter {
            transition: opacity 0.1s $m-ease;
            text-align: left;

@include font-stat;

            &.hidden {
                opacity: 0;
            }

            &.loading {
                animation-name: loading-stat-line;
                animation-duration: 0.7s;
                animation-timing-function: $m-ease-in-out;
                animation-iteration-count: infinite;
            }

            &.stat-change-positive {
                color: $color-positive;
            }

            &.stat-change-negative {
                color: $color-negative;
            }
        }
    }
}

.stat-count {
    position: relative;

    display: inline-block;

    margin: 0 0.4em;
    padding: 0.6em 1.8em;

    text-align: center;

    opacity: 1;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    @media (max-width: $small-breakpoint) {
        display: block;

        margin: 0.8em 0;
    }

    // Sizes
    &.stat-count-medium {
        min-width: 10em;
    }

    &.stat-count-large {
        min-width: 12em;
    }

    p {
        margin: 0;
        padding: 0;
    }

    p.stat-counter {
        margin: auto;

        transition: opacity 0.15s $m-ease-out, transform 0.15s $m-ease-out;
        transform: none;

        font-size: 1.5em;

@include font-stat;

        &.hidden {
            transition: opacity 0.15s $m-ease-in, transform 0.15s $m-ease-in;
            transform: scale(0.5);

            opacity: 0;
        }

        &.loading {
            animation-name: loading-stat;
            animation-duration: 0.7s;
            animation-timing-function: $m-ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    // Colors
    &.haiku-count {
        color: $haiku-color-text;
        background-color: $haiku-color;
    }

    &.server-count {
        color: $text-color-alt;
        background-color: $background-color-alt;
    }

    &.heart-count {
        color: $heart-color-text;
        background-color: $heart-color;
    }

    &.broken-heart-count {
        color: $heart-color-broken-text;
        background-color: $heart-color-broken;
    }

    &.message-count {
        color: $message-color-text;
        background-color: $message-color;
    }

    &.unique-user-count {
        color: $user-color-text;
        background-color: $user-color;
    }
}

.stat-graph {
    margin-bottom: 2em;
}

.time {
    font-family: "Roboto Mono", monospace;
}


.main-content .discord-bot-widget {
    height: 12rem;

    border-radius: 6px;
}
