p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

    line-height: 1;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-size: 3.5rem;

@include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2.5rem;
    }
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.2rem;

@include font-subheading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;

@include font-subheading;
}

h4 {
    font-size: 1.2rem;

@include font-subheading;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;

    color: $secondary-color;
    outline: none;

    font-weight: 700;
}

.main-content a:not(.button) {
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        margin: -4px;

        content: "";
        transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-in;
        transform: scale(1.5);
        pointer-events: none;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
    }

    &:focus::before {
        transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-out;
        transform: scale(1);

        border-color: $table-border-color;
        background-color: rgba($background-color-alt, 0.12);
    }

    &:active::before {
        transition: background-color 0.1s $m-ease, border-color 0.1s $m-ease, transform 0s linear;

        background-color: transparent;
    }
}
