p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

    line-height: 1;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-size: 3.5rem;

@include font-heading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2.5rem;
    }
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.2rem;

@include font-subheading;

    @media (max-width: $medium-breakpoint) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;

@include font-subheading;
}

h4 {
    font-size: 1.2rem;

@include font-subheading;
}

p,
li,
pre {
    line-height: 1.5;
}

a {
    text-decoration: none;

    color: $primary-color;
    outline: none;

    font-weight: 700;
}

li {
    margin: 0.6rem 0;
}

code {
    padding: 0.02rem 0.5rem;

    white-space: nowrap;

    color: $code-text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $code-bg-color;

    font-size: 1rem;

@include font-code;
}

.highlight {
    background-color: transparent;
}

.highlight pre {
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.main-content a:not(.button) {
    position: relative;

    white-space: nowrap;

    &::before,
    i::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        margin: -0.3rem -0.6rem;

        content: "";
        transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-in;
        transform: scale(1.25);
        pointer-events: none;

        border: 1px solid transparent;
        border-radius: $border-radius;
        background-color: transparent;
    }

    &:hover::before,
    &:hover i::before {
        transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0s linear;
        transform: scale(1);

        border-color: $table-border-color;
        background-color: transparent;
    }

    &:focus::before,
    &:focus i::before {
        transition: background-color 0.15s $m-ease, border-color 0.15s $m-ease, transform 0.15s $m-ease-out;
        transform: scale(1);

        border-color: $table-border-color;
        background-color: rgba($background-color-alt, 0.12);
    }

    &:active::before,
    &:active i::before {
        transition: background-color 0.1s $m-ease, border-color 0.1s $m-ease, transform 0s linear;

        border-color: $table-border-color;
        background-color: rgba($background-color-alt, 0.12);
    }
}

.main-content a.button {
    position: relative;

    display: inline-block;

    margin: 0.4rem;

    transition: transform 0.07s $m-ease;
    text-align: center;
    text-decoration: none;

    border-radius: $border-radius;

    font-weight: 400;

@include button($background-color-alt, $text-color-alt, false);

    &.button-discord {
        @include button($discord-color, $text-color-alt, false);
    }

    &.button-patreon {
        @include button($patreon-color, $text-color-alt, false);
    }

    &.button-haiku {
        @include button($haiku-color, $haiku-color-text, true);
    }

    &.button-modis {
        @include button($modis-color, $text-color-alt, false);
    }

    &.button-kingdom {
        @include button($kingdom-color, $text-color-alt, false);
    }
}
