<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<head>
    {% include _meta/head.html %}
</head>

<body>

    <div id="Loading" class="loading-indicator content-loading"></div>
    <div id="Main" class="main">
        <!-- Header -->
        {% include header.html %}

        <section class="main-content{% if page.wide %} content-wide{% endif %}">
            <div class="content-container">
                <!-- Content -->
                {{ content }}
                <!-- Footer -->
                {% include footer.html %}
            </div>
        </section>

        {% include _meta/images.html %}
    </div>

    <!-- Feature detection -->
    <section id="ErrorBrowser" class="main-content" style="display: none;">
        <div class="content-container">
            <!-- Content -->
            <h1>Browser not Supported</h1>
            <p>Please update your browser to continue.</p>
            <!-- Footer -->
            {% include footer.html %}
        </div>
    </section>

    <script>
        try {
            // Let/const
            eval("let x = 0;");
            eval("const X = 0;");
            // Flexbox
            if (!Modernizr.flexbox) {
                throw new Error("No flexbox");
            }
        } catch (ex) {
            $(".main").css("display", "none");
            $("#ErrorBrowser").css("display", "block");
        }
    </script>

    <noscript>
        <style>
            .main {
                display: none;
            }

        </style>

        <section class="main-content">
            <div class="content-container">
                <!-- Content -->
                <h1>JavaScript not Enabled</h1>
                <p>Please enable JavaScript and reload the page to continue.</p>
                <!-- Footer -->
                {% include footer.html %}
            </div>
        </section>
    </noscript>
</body>

</html>
