<!DOCTYPE html>
<html lang="{{ site.lang | default:" en-US" }}">

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <head>
        {% include _meta/head.html %}
    </head>

    <body>
        <div id="Loading" class="content-loading"></div>
        <div id="Main" class="main">
            <!-- Header -->
            {% include header.html %}

            <section class="main-content{% if page.wide %} content-wide{% endif %}">
                <div class="content-container">
                    <!-- Content -->
                    {{ content }}
                    <!-- Footer -->
                    {% include footer.html %}
                </div>
            </section>

            {% include _meta/images.html %}
        </div>
    </body>

</html>
