---
layout: default
---

<div>
    <script type="text/javascript">
        function iframe_loaded(frame) {
            console.log("widget loaded");
            $(frame).addClass("visible")
        }
    </script>

    {{ content }}

    <div class="youtube-player">
        <iframe width='1400' height='824' onload="iframe_loaded(this)" src="https://www.youtube.com/embed/ZsT8oq5qN2M?&theme=dark&color=white&autohide=2&modestbranding=1&showinfo=0&rel=0" frameborder="0" allowtransparency="true" gesture="media"></iframe>
    </div>

    <p>Modis is a modular discord bot, designed to be both flexible and easily extendable. It features a music module with an interactive GUI, as well as tools for moderation and a growing community developing new modules all the time. Modis is still in active development while we try to stabilise the framework and some of our internal modules, but you can come check out the community and the bot in our Discord server.</p>
</div>
    